*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# Eclipse files
.classpath
*.classpath
.project
*.project
*.prefs
*.lst

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
cace/.classpath
core/src/main/resources/static/cache/main_file_cache.dat
core/src/main/resources/static/cache/main_file_cache.idx0
core/src/main/resources/static/cache/main_file_cache.idx1
core/src/main/resources/static/cache/main_file_cache.idx2
core/src/main/resources/static/cache/main_file_cache.idx3
core/src/main/resources/static/cache/main_file_cache.idx4
core/src/main/resources/static/game/item_def.json
