*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
horvik-cdi/.classpath
horvik-cdi/.project
horvik-cdi/.settings/org.eclipse.core.resources.prefs
horvik-cdi/.settings/org.eclipse.jdt.apt.core.prefs
horvik-cdi/.settings/org.eclipse.jdt.core.prefs
horvik-cdi/.settings/org.eclipse.m2e.core.prefs
.settings/org.eclipse.core.resources.prefs
.settings/org.eclipse.m2e.core.prefs
core/.classpath
core/.project
core/.settings/org.eclipse.core.resources.prefs
core/.settings/org.eclipse.jdt.apt.core.prefs
core/.settings/org.eclipse.jdt.core.prefs
core/.settings/org.eclipse.m2e.core.prefs
core/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
core/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
horvik-cdi/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
.project
